*{
  margin: 0;
  padding:0;
  font-family: Courier;
}

.logo img {

  width: 300px;
  height: auto;
}

.footer{
  padding: 10px;
  margin-top: 50px;
  margin-left: 550px;
}

.menum ul li{
  display: inline-block;
}

.menum ul li a{
  text-decoration: none;
  color: #c94c4c;
  padding: 5px 20px;
  border: 1px solid #c94c4c;
  transition: 0.6s ease;
}

.menum ul li a:hover{
  background-color: #c94c4c;
  color: #000;
}

.menum ul li.active a{
  background-color: #c94c4c;
  color: #000;
}

.logo img{
  float: left;
  width: 300px;
  height: auto;
}

.menum ul{
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  list-style-type: none;
}

.clr{
  clear:both;
}

.regform
{
  margin-left: 400px;
  margin-right: 400px;
  padding: 10px;
  border: 5px #c94c4c dashed;
}

.regform .names
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.regform .emaill
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.regform .pass
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.regform .dob
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.regform .add
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  padding-bottom: 30px;
}

.regform .gen
{
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.regform input[type="text"],input[type=password],input[type="email"]{
  width: 100%;
  padding: 5px;
}

.regform input[type=date]{
  width: 100%;
  padding: 5px;
}

.regform input[type=Submit],input[type=reset]{
  font-size: 16px;
  padding:10px;
  border: 1px solid #c94c4c;
  transition: 0.6s;
  border-radius: 4px;
}

.regform input[type="Submit"]:hover ,input[type=reset]:hover{
  background-color: #c94c4c;
  color: #000;
}

header{
  height: 100%;
}
